@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2> <br>

<address>
    <strong>Sujestões: </strong>   <a href="">WorldCopa@gmail.com</a><br>
    <strong>Aplicativo: </strong> <a href="">World Copa - A Copa nas suas mãos</a>
</address>