@{
    ViewBag.Title = "World Copa";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Willie</h2>
        <img src="~/Models/img/Willie.png">
        <p>Inglaterra - 1966</p>
    </div>
    <div class="col-md-4">
        <h2>Juanito Maravilha</h2>
        <img src="~/Models/img/Juanito.png">
        <p>México - 1970</p>
    </div>
    <div class="col-md-4">
        <h2>Tip e Tap</h2>
        <img src="~/Models/img/Tip-e-Tap.png">
        <p>Alemanha - 1874</p>
    </div>
    <div class="col-md-4">
        <h2>Gauchito</h2>
        <img src="~/Models/img/Gauchito.png">
        <p>Argentina - 1978</p>
    </div>
    <div class="col-md-4">
        <h2>Naranjito</h2>
        <img src="~/Models/img/Naranjito.png">
        <p>Espanha - 1982</p>
    </div>
    <div class="col-md-4">
        <h2>Pique</h2>
        <img src="~/Models/img/Pique.png">
        <p>México - 1986</p>
    </div>
    <div class="col-md-4">
        <h2>Ciao</h2>
        <img src="~/Models/img/Ciao.png">
        <p>Itália - 1990</p>
    </div>
    <div class="col-md-4">
        <h2>Striker</h2>
        <img src="~/Models/img/Striker.png">
        <p>Estados Unidos - 1994</p>
    </div>
    <div class="col-md-4">
        <h2>Footix</h2>
        <img src="~/Models/img/Footix.png">
        <p>França - 1998</p>
    </div>
    <div class="col-md-4">
        <h2>Kaz, Ato e Nik</h2>
        <img src="~/Models/img/Kaz, Ato e Nik.png">
        <p>Coreia do Sul e Japão - 2002</p>
    </div>
    <div class="col-md-4">
        <h2>Goleo VI</h2>
        <img src="~/Models/img/Goleo.png">
        <p>Alemanha - 2006</p>
    </div>
    <div class="col-md-4">
        <h2>Zakumi</h2>
        <img src="~/Models/img/Zakumi.png">
        <p>África do Sul - 2010</p>
    </div>
    <div class="col-md-4">
        <h2>Fuleco</h2>
        <img src="~/Models/img/Fuleco.png">
        <p>Brasil - 2014</p>
    </div>
    <div class="col-md-4">
        <h2>Zabivaka</h2>
        <img src="~/Models/img/Zabivaka.png">
        <p>Rússia - 2018</p>
    </div>
    <div class="col-md-4">
        <h2>La'eeb'</h2>
        <img src="~/Models/img/La'eeb.png">
        <p>Catar - 2022</p>
    </div>
</div>

<script>
    .img{
        width: 50px;
        height: 50px;
    }
</script>